.uploadStatusMessage {
	font-family: sans-serif;
	background-color: #efefef;
	padding: .5em 1.5em;
}

tr.warn {
	background-color: #ffeaea;
}

tr.good {
	background-color: #eaffea;
}

pre {
  background-color: #eee;
}